body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

main {
  min-height: 80vh;
}

li {
  list-style: none;
  padding-top: 3px;
  font-size: 13px;
  font-stretch: expanded;
  color: gray;
}

.carousel-caption h3 {
  color: antiquewhite;
  font-size: 30px;
  font-weight: bold;
}
.carousel-caption p {
  color: antiquewhite;
  font-size: 20px;
  font-weight: normal;
}
.back_image {
  background-image: url('./images/p9.jpg');
}
.about-image {
  background: url('./images/choosee.jpg') no-repeat center;
  background-size: cover;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}
.overlay-all {
  background: rgba(0, 0, 0, 0.5);
}

.border-about {
  padding: 3em;
  border: 1px solid white;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.book-form {
  padding: 3em;
  background: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 990px) {
  .booking-img {
    padding-top: 30px;
  }
}
@media screen and (max-width: 840px) {
  .service-img {
    margin-left: 73px;
  }
}
@media screen and (max-width: 700px) {
  .carousel-caption h3 {
    font-size: 18px;
  }
  .service-img {
    padding: 10px;
  }
}

@media screen and (max-width: 500px) {
  .carousel-caption h3 {
    font-size: 15px;
  }
  .imgg {
    height: 240px;
  }
  .service-img {
    padding: 10px;
  }
}
