body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

main {
  min-height: 80vh;
}

li {
  list-style: none;
  padding-top: 3px;
  font-size: 13px;
  font-stretch: expanded;
  color: gray;
}

.carousel-caption h3 {
  color: antiquewhite;
  font-size: 30px;
  font-weight: bold;
}
.carousel-caption p {
  color: antiquewhite;
  font-size: 20px;
  font-weight: normal;
}
.back_image {
  background-image: url('./images/p9.jpg');
}
@media screen and (max-width: 700px) {
  .carousel-caption h3 {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  .carousel-caption h3 {
    font-size: 15px;
  }
  .imgg {
    height: 240px;
  }
}
